*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/misc.xml
/.idea/modules.xml
/onesignal/build/
/*/.idea/workspace.xml
.idea
/app/src/main/res/values/environments.xml
